nav.navbar.navbar-expand-lg.navbar-light {
    background-color: #027FF4;
}
.logoImg{
    height: 35px;
    cursor: pointer;
}
.nav-item > a,
.nav-item.active > a,
.headerTitle,
.form-inline > span
{
    color: #ffffff;
}
.form-inline > span {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
.form-inline ul{
    position: absolute;
    list-style: none;
    top: 63px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: #fff;
    width: 12%;
    padding: 0;
    text-align: center;
}
.form-inline ul li{
    border-bottom: 1px solid #333;
    padding: 10px 0;
}