/* .ng-valid:not(form) {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form) {
    border-left: 5px solid #a94442; 
  }
  .errorMessage {
    color: #a94442;
  }
  .form-control.is-invalid {
      border-color: #a94442;
  } */

  .margin-l-18 {
      margin-left: 18%;
  }