/* You can add global styles to this file, and also import other style files */
.row{
    margin: 0;
}
.k-grid th, .k-grid td{
    border-style: none;
}
.k-link{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}
.k-pager-numbers .k-link,.k-grid-header .k-i-sort-asc-sm, .k-grid-header .k-i-sort-desc-sm, .k-grid-header .k-sort-order {
    color: #027FF4;
}
.k-pager-numbers .k-state-selected {
    color: #fff;
    background-color: #027FF4;
}
.fa.fa-trash,.fa.fa-edit{
    margin-right: 10px;
    vertical-align: middle;
    font-size: 16px;
}

.text_align {
    text-align: right;
    font-weight: bold;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.m-r-10 {
    margin-right: 10px;
}
.m-10 {
 margin: 10px;
}