/* You can add global styles to this file, and also import other style files */
.ng-valid:not(form) {
    border-left: 5px solid #42A948; /*57A83F*/
  }
  
  .ng-invalid:not(form) {
    border-left: 5px solid #a94442; /*E03930*/
  }
  .errorMessage {
    color: #a94442;
  }
  .form-control.is-invalid {
      border-color: #a94442;
  }